@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #34495e;
}

::-webkit-scrollbar-thumb{
    background-color: #283747;
}

::-webkit-scrollbar-track:hover{
    background-color: #283747;
}